<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <title>スクラッチから作るガントチャート</title>
</head>
<body>
  <div id="app">
    <div id="gantt-header" class="h-12 p-2 flex items-center">
      <h1 class="text-sm font-bold">ガントチャート</h1>
        <button
          class="bg-indigo-700 hover:bg-indigo-900 text-white py-2 px-4 rounded-lg flex items-center ml-3">
          <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
          <span class="font-bold text-xs">
            タスクを追加する
          </span>
        </button>
    </div>
    <div id="gantt-content" class="flex">
      <div id="gantt-task">
        <div id="gantt-task-title" class="flex items-center bg-green-600 text-white h-20" ref="task">
          <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-48 h-full">タスク
          </div>
          <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-24 h-full">開始日
          </div>
          <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-24 h-full">完了期限日
          </div>
          <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-16 h-full">担当
          </div>
          <div class="border-t border-r border-b flex items-center justify-center font-bold text-xs w-12 h-full">進捗
          </div>
        </div>
        <!-- リストの中身を表示 -->
        <div id="gantt-task-list" class="overflow-y-hidden" :style="`height:${calendarViewHeight}px`">
          <div v-for="(list,index) in displayTasks" :key="index" class="flex h-10 border-b" draggable=true @dragstart="dragTask(list)"
          @dragover.prevent="dragTaskOver(list)"
          >
          <template v-if="list.cat === 'category'">
            <div
              class="flex items-center font-bold w-full text-sm pl-2 flex justify-between items-center bg-green-300">
              <span>{{list.name}}</span>
              <div class="pr-4" @click="toggleCategory(list.id)">
                <span v-if="list.collapsed">
                  <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </span>
                <span v-else>
                  <svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </span>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="border-r flex items-center font-bold w-48 text-sm pl-4">
              {{list.name}}
            </div>
            <div class="border-r flex items-center justify-center w-24 text-sm">
              {{list.start_date}}
            </div>
            <div class="border-r flex items-center justify-center w-24 text-sm">
              {{list.end_date}}
            </div>
            <div class="border-r flex items-center justify-center w-16 text-sm">
              {{list.incharge_user}}
            </div>
            <div class="flex items-center justify-center w-12 text-sm">
              {{list.percentage}}%
            </div>
          </template>
            
          </div>
          
        </div>
      </div>


      <!-- overflow-x-scroll w-1/2でスクロールと幅を付与 -->
      <div id="gantt-calendar" class="overflow-x-scroll overflow-y-hidden border-l" :style="`width:${calendarViewWidth}px`" ref="calendar">
        <div class="h-20" id="gantt-date">
          <div id="gantt-year-month" class="relative h-8">
            <div v-for="(calendar,index) in calendars" :key="index">
              <div 
              class="bg-indigo-700 text-white border-b border-r border-t h-8 absolute font-bold text-sm flex items-center justify-center"
              :style="`width:${calendar.calendar*block_size}px;left:${calendar.start_block_number*block_size}px`">
              {{calendar.date}}
              </div>
            </div>
          </div>
        <div id="gantt-day" class="relative h-12">
          <div v-for="(calendar,index) in calendars" :key="index">
            <div v-for="(day,index) in calendar.days" :key="index">
              <div class="border-r h-12 absolute flex items-center justify-center flex-col font-bold text-xs"
                :style="`width:${block_size}px;left:${day.block_number*block_size}px`"
                :class="{'bg-blue-100': day.dayOfWeek === '土', 'bg-red-100': day.dayOfWeek ==='日',
                'bg-green-400 text-white': calendar.year=== today.year() && calendar.month === today.month() && day.day === today.date()}"
                >
                <span>{{ day.day }}</span>
                <span>{{ day.dayOfWeek }}</span>
              </div>
            </div>
          </div>
        </div>
        <div id="gantt-height" class="relative"> 
          <div v-for="(calendar,index) in calendars" :key="index">
            <div v-for="(day,index) in calendar.days" :key="index">
              <div class="border-r border-b absolute"
                :style="`width:${block_size}px;left:${day.block_number*block_size}px;height:${calendarViewHeight}px`"
                :class="{'bg-blue-100': day.dayOfWeek === '土', 'bg-red-100': day.dayOfWeek ==='日'}"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- チャートを表示する -->
      <div id="gantt-bar-area" class="relative" :style="`width:${calendarViewWidth}px;height:${calendarViewHeight}px`">
        <div v-for="(bar,index) in taskBars" :key="index">
          <div :style="bar.style" class="rounded-lg absolute h-5 bg-yellow-100" v-if="bar.list.cat === 'task'" @mousedown="mouseDownMove(bar.list)" >
            <!-- style="pointer-events: none;"で子要素を選択不可にする -->
            <div class="w-full h-full" style="pointer-events: none;">
              <div class="h-full bg-yellow-500 rounded-l-lg text-center"
              style="pointer-events: none;" 
              :style="`width:${bar.list.percentage}%`"
              :class="{'rounded-r-lg': bar.list.percentage === 100}"
              >
                {{ bar.list.percentage}}
              </div>
            </div>
            <div class="absolute w-2 h-2 bg-gray-300 border border-black" 
            style="top:6px;left:-6px;cursor:col-resize"
            @mousedown.stop="mouseDownResize(bar.task,'left')">
            </div>
            <div class="absolute w-2 h-2 bg-gray-300 border border-black" 
            style="top:6px;right:-6px;cursor:col-resize"
            @mousedown.stop="mouseDownResize(bar.task,'right')">
            </div>
          </div>
        </div>
    </div>
      
    </div>
  </div>
</body>
</html>
<script>
  const app = Vue.createApp({
    data(){
      return {
        task:'',
        width:'', //追加
        leftResizing:false,//追加
        rightResizing:false,//追加
        dragging:false,
        position_id:0,
        today:moment(),
        inner_width: '', //追加
        inner_height: '', //追加
        task_width: '',//追加
        task_height: '',
        start_month: '2022-10',
        end_month: '2022-12',
        block_size: 30,
        block_number: 0,
        calendars:[],
        categories: [
        {
        id: 1,
        name: 'テストA',
        collapsed: false,
        }, {
        id: 2,
        name: 'テストB',
        collapsed: false,
        }
    ],
    tasks: [
        {
        id: 1,
        category_id: 1,
        name: 'テスト1',
        start_date: '2022-10-18',
        end_date: '2022-10-20',
        incharge_user: '鈴木',
        percentage: 100,
        },
        {
        id: 2,
        category_id: 1,
        name: 'テスト2',
        start_date: '2022-11-19',
        end_date: '2022-11-23',
        incharge_user: '佐藤',
        percentage: 90,
        },
        {
        id: 3,
        category_id: 1,
        name: 'テスト3',
        start_date: '2022-11-19',
        end_date: '2022-12-04',
        incharge_user: '鈴木',
        percentage: 40,
        },
        {
        id: 4,
        category_id: 1,
        name: 'テスト4',
        start_date: '2022-11-21',
        end_date: '2022-11-30',
        incharge_user: '山下',
        percentage: 60,
        },
        {
        id: 5,
        category_id: 1,
        name: 'テスト5',
        start_date: '2022-11-25',
        end_date: '2022-12-04',
        incharge_user: '佐藤',
        percentage: 5,
        },
        {
        id: 6,
        category_id: 2,
        name: 'テスト6',
        start_date: '2022-11-28',
        end_date: '2022-12-08',
        incharge_user: '佐藤',
        percentage: 0,
        },
    ],
      }
    },
    methods:{
      toggleCategory(task_id) {
        let category = this.categories.find(category => category.id === task_id)
        category.collapsed = !category.collapsed;
      },
      dragTaskOver(overTask) {
        let deleteIndex;
        let addIndex;
        if (this.task.cat !== 'category') {
          if (overTask.cat === 'category') {
            let updateTask = this.tasks.find(task => task.id === this.task.id)
            updateTask['category_id'] = overTask['id']
          } else {
            if (overTask.id !== this.task.id) {
              this.tasks.map((task, index) => { if (task.id === this.task.id) deleteIndex = index })
              this.tasks.map((task, index) => { if (task.id === overTask.id) addIndex = index })
              this.tasks.splice(deleteIndex, 1)
              this.task['category_id'] = overTask['category_id']
              this.tasks.splice(addIndex, 0, this.task)
            }
          }
        }
      },
      dragTask(task) {
        this.task = task
      },
      mouseResize() {
        if (this.leftResizing) {
          let diff = this.pageX - event.pageX
          if (parseInt(this.width.replace('px', '')) + diff > this.block_size) {
            this.element.style.width = `${parseInt(this.width.replace('px', '')) + diff}px`
            this.element.style.left = `${this.left.replace('px', '') - diff}px`;
          }
        }
        if (this.rightResizing) {
          let diff = this.pageX - event.pageX;
          if (parseInt(this.width.replace('px', '')) - diff > this.block_size) {
            this.element.style.width = `${parseInt(this.width.replace('px', '')) - diff}px`
          }
        }
      },
      mouseDownResize(task, direction) {
        direction === 'left' ? this.leftResizing = true : this.rightResizing = true;
        this.pageX = event.pageX;
        this.width = event.target.parentElement.style.width;
        this.left = event.target.parentElement.style.left;
        this.element = event.target.parentElement;
        this.task_id = task.id
      },
      stopDrag(){
        if (this.dragging) {
          // どれほど移動したのかを取得
          let diff = this.pageX - event.pageX
          // 日にちに換算する
          let days = Math.ceil(diff / this.block_size)
          if (days !== 0) {
            console.log(days)
            let task = this.tasks.find(task => task.id === this.task_id);
            let start_date = moment(task.start_date).add(-days, 'days')
            let end_date = moment(task.end_date).add(-days, 'days')
            task['start_date'] = start_date.format('YYYY-MM-DD')
            task['end_date'] = end_date.format('YYYY-MM-DD')
          } else {
            this.element.style.left = `${this.left.replace('px', '')}px`;
          }
        }

        if (this.leftResizing) {
          let diff = this.pageX - event.pageX;
          let days = Math.ceil(diff / this.block_size)
          if (days !== 0) {
            let task = this.tasks.find(task => task.id === this.task_id);
            let start_date = moment(task.start_date).add(-days, 'days')
            let end_date = moment(task.end_date)
            if (end_date.diff(start_date, 'days') <= 0) {
              task['start_date'] = end_date.format('YYYY-MM-DD')
            } else {
              task['start_date'] = start_date.format('YYYY-MM-DD')
            }
          } else {
            this.element.style.width = this.width;
            this.element.style.left = `${this.left.replace('px', '')}px`;
          }
        }

        if (this.rightResizing) {
          let diff = this.pageX - event.pageX;
          let days = Math.ceil(diff / this.block_size)
          if (days === 1) {
            this.element.style.width = `${parseInt(this.width.replace('px', ''))}px`;
          } else if (days <= 2) {
            days--;
            let task = this.tasks.find(task => task.id === this.task_id);
            let end_date = moment(task.end_date).add(-days, 'days')
            task['end_date'] = end_date.format('YYYY-MM-DD')
          } else {
            let task = this.tasks.find(task => task.id === this.task_id);
            let start_date = moment(task.start_date);
            let end_date = moment(task.end_date).add(-days, 'days')
            if (end_date.diff(start_date, 'days') < 0) {
              task['end_date'] = start_date.format('YYYY-MM-DD')
            } else {
              task['end_date'] = end_date.format('YYYY-MM-DD')
            }
          }
        }
        
        this.dragging = false;
        this.leftResizing = false;
        this.rightResizing = false;
      },
      mouseMove() {
        if (this.dragging) {
          
          let diff = this.pageX - event.pageX;
          this.element.style.left = `${parseInt(this.left.replace('px', '')) - diff}px`;
        }
      },
      mouseDownMove(task){
        // ドラッグ中にする
        this.dragging = true;
        // クリックした座標を取得
        this.pageX = event.pageX;
        this.element = event.target;
        // cssの取得
        this.left = event.target.style.left;
        // そのタスクか特定するIDを取得
        this.task_id = task.id
        console.log('mouseDownMove')
      },
      windowSizeCheck() {
        let height = this.lists.length - this.position_id
        if (event.deltaY > 0 && height * 40 > this.calendarViewHeight) {
          this.position_id++
        } else if (event.deltaY < 0 && this.position_id !== 0) {
          this.position_id--
        }
      },
      todayPosition() {
        // プロパティ（compueted）へのアクセスには()は不要
        this.$refs.calendar.scrollLeft = this.scrollDistance
      },      
      getWindowSize() {
        this.inner_width = window.innerWidth;
        this.inner_height = window.innerHeight;
        this.task_width = this.$refs.task.offsetWidth;
        this.task_height = this.$refs.task.offsetHeight;
    },
      getDays(year, month, block_number) {
        const dayOfWeek = ['日', '月', '火', '水', '木', '金', '土'];
        let days = [];
        let date = moment(`${year}-${month}-01`);
        let num = date.daysInMonth();
        for (let i = 0; i < num; i++) {
          days.push({
            day: date.date(),
            dayOfWeek: dayOfWeek[date.day()],
            block_number
          })
          date.add(1, 'day');
          block_number++;
        }
        return days;
      },
      getCalendar() {
        let block_number = 0;
        let days;
        let start_month = moment(this.start_month)
        let end_month = moment(this.end_month)
        let between_month = end_month.diff(start_month, 'months')
        
        for (let i = 0; i <= between_month; i++) {
          days = this.getDays(start_month.year(), start_month.format('MM'), block_number);
          this.calendars.push({
            date: start_month.format('YYYY年MM月'),
            year: start_month.year(),
            month: start_month.month(), //month(), 0,1..11と表示
            start_block_number: block_number,
            calendar: days.length,
            days: days
          })
          start_month.add(1, 'months')
          block_number = days[days.length - 1].block_number
          block_number++;
        }
        return block_number;
      },
      },
      computed: {
        
        displayTasks() {
          let display_task_number = Math.floor(this.calendarViewHeight / 40);
          return this.lists.slice(this.position_id, this.position_id + display_task_number);
        },
        taskBars() {
          let start_date = moment(this.start_month);
          let top = 10;
          let left;
          let between;
          let start;
          let style;
          return this.displayTasks.map(list => {
            style = {}
            if(list.cat==='task'){
              let date_from = moment(list.start_date);
              let date_to = moment(list.end_date);
              between = date_to.diff(date_from, 'days');
              between++;
              start = date_from.diff(start_date, 'days');
              left = start * this.block_size;
              style = {
                top: `${top}px`,
                left: `${left}px`,
                width: `${this.block_size * between}px`,
              }
            }
            top = top + 40;
            return {
              style,
              list
            }
          })
        },
        lists() { 
          let lists = [];
          this.categories.map(category => {
            lists.push({ cat: 'category', ...category });
            this.tasks.map(task => {
              if (task.category_id === category.id && !category.collapsed) {
                lists.push({ cat: 'task', ...task })
              }
            })
          })
          return lists;
        },
        scrollDistance() {
          let start_date = moment(this.start_month);
          let between_days = this.today.diff(start_date, 'days')
          //return between_days * this.block_size;
          return (between_days + 1) * this.block_size - this.calendarViewWidth / 2;
        },
        calendarViewWidth() {
          return this.inner_width - this.task_width;
        },
        calendarViewHeight() {
          // 48はヘッダー領域の高さ、20はスクロールバーの高さ
          return this.inner_height - this.task_height - 48 - 20;
        },
      },
      mounted() {
        this.getCalendar();
        this.getWindowSize();
        window.addEventListener('wheel', this.windowSizeCheck);
        window.addEventListener('resize', this.getWindowSize);
        this.$nextTick(() => {
          this.todayPosition();
        })
        // マウスの操作を検知
        window.addEventListener('mousemove', this.mouseMove);
        window.addEventListener('mouseup', this.stopDrag);
        window.addEventListener('mousemove', this.mouseResize);
      
      }
  }).mount('#app')
</script>